<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main page</title>
</head>
<body>
<table>
    <tr>
        <td>
            <button type="reset"
                    th:attr="onclick=|window.location.replace('@{{urlPrefix}/loans (urlPrefix = ${urlPrefix})}')|">
                Loans
            </button>
        </td>
        <td>
            <button type="reset"
                    th:attr="onclick=|window.location.replace('@{{urlPrefix}/clients (urlPrefix = ${urlPrefix})}')|">
                Clients
            </button>
        </td>
        <td>
            <button type="reset"
                    th:attr="onclick=|window.location.replace('@{{urlPrefix}/items (urlPrefix = ${urlPrefix})}')|">
                Items
            </button>
        </td>
        <td>
            <form th:method="POST" th:action="@{{urlPrefix}/auth/logout (urlPrefix = ${urlPrefix})}">
                <button type="submit">Logout</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{{urlPrefix}/auth (urlPrefix = ${urlPrefix})}">
                <button type="submit">Delete User</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>